header {
    font-size: 40px;
    height: 70px;
    width: 99vw;
    margin: 0px;
    margin-top: 20px;
    text-align: -webkit-center;
    line-height: 46px;
}

#roomid {
    width: 69vw;
    margin: 10px auto;
    -webkit-text-stroke: 0px;
    font-size: 27px;
    margin-top: 12px;
}

hr {
    width: 86vw;
}

.sendcorner {
    width: 90vw;
    /* position: fixed; */
    /* bottom: 20px; */
    height: 59px;
    margin-top: 10px;
}

#chats {
    width: 88vw;
    height: 57vh;
}

.messageHolder {
    width: 92vw;
    height: auto;
}

.sent>span {
    padding: 15px;
}

.recived>span {
    padding: 15px;
    padding-bottom: 10px;
}

.recived {
    margin-top: 6px;
}