header {
    font-size: 2.5rem;
    width: 90vw;
    margin: 5px;
    margin-top: 25px;
    text-align: -webkit-center;
    line-height: 46px;
}

.content {
    width: 96vw;
    height: 68vh;
}

.footer {
    width: 96vw;
    bottom: 0px;
    position: fixed;
    height: 15vw;
}

#createlabel>div>form,
#joinlabel>div>form {
    margin-bottom: 0px;
}